{% extends 'base.html.twig' %}

{% block body %}
    <h1>Albumtracks list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Track</th>
                <th>Album</th>
                <th>Position</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for albumTrack in albumTracks %}
            <tr>
                <td><a href="{{ path('albumtrack_show', { 'id': albumTrack.id }) }}">{{ albumTrack.id }}</a></td>
                <td>{{ albumTrack.track }}</td>
                <td>{{ albumTrack.album }}</td>
                <td>{{ albumTrack.position }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('albumtrack_show', { 'id': albumTrack.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('albumtrack_edit', { 'id': albumTrack.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('albumtrack_new') }}">Create a new albumTrack</a>
        </li>
    </ul>
{% endblock %}
