{% extends 'base.html.twig' %}

{% block body %}
    <h1>Albumtrack</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ albumTrack.id }}</td>
            </tr>
            <tr>
                <th>Track</th>
                <td>{{ albumTrack.track }}</td>
            </tr>
            <tr>
                <th>Album</th>
                <td>{{ albumTrack.album }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ albumTrack.position }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('albumtrack_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('albumtrack_edit', { 'id': albumTrack.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
