{% extends 'base.html.twig' %}

{% block body %}

    {% for album in albums %}
        {{ album.albumName }}: <a href="{{ path('app_custom_tracks', { 'id': album.id }) }}">Update album tracks</a><br />
    {% else %}
        No albums found.
    {% endfor %}

{% endblock body %}
