{% extends 'base.html.twig' %}

{% block body %}

    <h1>Update album {{ album.albumName }}</h1>

    {{ form_start(form) }}

        <ul class="related-tracks" data-prototype="{{ form_widget(form.relatedTracks.vars.prototype)|e('html_attr') }}">
            {{ form_row(form.relatedTracks) }}
        </ul>

        <button type="submit">Update album tracks</button>
        <a href="{{ path('app_custom_list') }}">Back to list</a>
    {{ form_end(form) }}

{% endblock body %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        var $collectionHolder;

        // setup an "add a track" link
        var $addTrackLink = $('<a href="#" class="add_track_link">Add a track</a>');
        var $newLinkLi = $('<li></li>').append($addTrackLink);

        jQuery(document).ready(function() {
            // Get the ul that holds the collection of tags
            $collectionHolder = $('ul.related-tracks');

            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addTrackLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addTrackForm($collectionHolder, $newLinkLi);
            });
        });

        function addTrackForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            var newForm = prototype;
            // You need this only if you didn't set 'label' => false in your tags field in TaskType
            // Replace '__name__label__' in the prototype's HTML to
            // instead be a number based on how many items we have
            // newForm = newForm.replace(/__name__label__/g, index);

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            newForm = newForm.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);
        }
    </script>
{% endblock javascripts %}
