{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tracks list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Trackname</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for track in tracks %}
            <tr>
                <td><a href="{{ path('track_show', { 'id': track.id }) }}">{{ track.id }}</a></td>
                <td>{{ track.trackName }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('track_show', { 'id': track.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('track_edit', { 'id': track.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('track_new') }}">Create a new track</a>
        </li>
    </ul>
{% endblock %}
